@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.cabecalho__menu-hamburguer {
    width: 34px;
    height: 34px;
    background-image: url('../assets/Menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 0.8em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
    border: .5px solid var(--branco);
    cursor: pointer;
}

.lista-menu__item {
    border: .5px solid var(--branco);
    cursor: pointer;
}

.item-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
}

.lista-menu__item:hover {
    text-decoration: underline;
}

.container__botao,
.container__titulo,
.opcoes,
.container__texto {
    display: none;
    cursor: pointer;
}

.opcoes__item {
    cursor: pointer;
}

.opcoes__item:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 1.875rem;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
        margin-right: 2em;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .container__imagem-transparente {
        display: none;
    }

    .container__imagem {
        padding: 1em 2em;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }


}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}